@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    text-align: center;
}

form {
    max-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"],
input[type="button"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="button"] {
    background-color: #3498db;
    color: #fff;
    margin-top: 10px;
}

input[type="button"]:hover {
    background-color: #2980b9;
}

.BR {
    text-align: center;
}

.fade-out {
    animation: fadeOut 2s ease-in-out;
}